@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+US+Modern:wght@100..400&display=swap');

:root {
    --nav-bg-color: #3b4930;
    --nav-text-color: #cdcdb5;
    --box-bg-color: #d5d0ba;
    --box-text-color: #3c3b31;
    --button-bg-color: #413d32;
    --button-bg-textcolor: #d5d0ba;
    --items-bg-color: #afb49d;
    --items-text-color: #67775a;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url(../images/backGround.png);
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    min-height: 50px;
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color) !important;
}

header a {
    color: var(--nav-text-color) !important;
}

main {
    flex: 1;
    min-height: 0;
    font-weight: 600;
}

.box {
    background-color: var(--box-bg-color);
    color: var(--box-text-color);
    border: solid 2px var(--box-text-color);
}

main table {
    background-color: var(--items-bg-color) !important;
    color: var(--items-text-color) !important;
    border: solid 2px var(--items-text-color);
}

.buttonNavColor {
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
}

.buttonNavColor {
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    border-color: var(--nav-bg-color);
}

.buttonNavColorDr {
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    border-color: var(--nav-bg-color);
}

.buttonNavColorDr:hover {
    background-color: var(--nav-text-color);
    color: var(--nav-bg-color);
    border-color: var(--nav-text-color);
}

.card-weekgoals {
    height: 25%;
}
.card-exams {
    height: 30%;
}
.card-skills {
    height: 43%;
}

.card-roster {
    height: 62%;
}
.card-attendance {
    height: 38%;
}

.card-progress {
    height: 40%;
}
.card-homework {
    height: 60%;
}