:root {
    /* COLOR */
    /* bijvoorbeeld... */
    --clr-primary: #123456;
    --clr-secondary: #123456;
    --clr-accent: #123456;
    
    /* FONT SIZE */
    
    
    
    /* FONT WEIGHT */
    
    
    
    /* BOX SHADOW */
    
    
    
    /* TEXT SHADOW */
    
    
    
    /* ... */
}