/* 1. RESETS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 2. GLOBAL */
:root {
    /* COLOR */
    --nav-text-color: #d0d0b8;
    --nav-bg-color: #3b4930;
    --btn-bg-color: #d5d0ba;
    --lvl-bg-color: #929780;
    --btn-text-color: #404035;
    
    /* FONT SIZE */
    --nav-font-size: 1.2rem;
    
    
    /* FONT WEIGHT */
    
    
    
    /* BOX SHADOW */
    
    
    
    /* TEXT SHADOW */
    
    
    
    /* ... */
}

/* 3. MAIN HEADER */
.main-header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;

    .brand span {
        font-size: 1.5rem;
    }

    .main-nav {
        margin-inline: auto;

        ul {
            display: flex;
            gap: 1rem;
            font-size: 1.25rem;

            li {
                padding: 0.5rem;
                cursor: pointer;
            }
        }
    }

    .user-info {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;

        .level-progress {
            position: relative;
            width: 10rem;
            text-align: center;
            
            .level-progress__outer {
                width: 100%;
                height: 2rem;
                display: flex;
                align-items: center;
                border: 1px solid #000000;
                border-radius: 0.6rem;
                
                .level-progress__inner {
                    width: 48%;
                    height: 100%;
                    border-radius: 0.5rem;
                    background-color: grey;

                    span {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 1.1rem;
                        font-weight: 600;
                        color: white;
                    }
                }
            }
        }
        
        .account-options {
            position: relative;
            
            button {

                svg {
                    width: 3rem;
                    height: 100%;
                    pointer-events: none;
                }
            }
            
            .dropdown {
                position: absolute;
                top: 100%;
                right: -1rem;
                width: 10rem;
                height: 0rem;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                padding-inline: 1rem;
                background-color: lightgrey;
                transition: height 0.2s ease-in-out;

                a {
                    padding: 0.4rem;
                }
            }

            .dropdown.show {
                height: 24rem;
            }
        }
    }
}

/* 4. DASHBOARD */
.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
    min-height: 90vh;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
    
    & > section {
        min-height: 10rem;
        border: 1px solid black;
        background-color: var(--nav-bg-color);
        
        header {
            color: var(--nav-text-color);
        }

        ul li {
            position: relative;

            &:hover .remove-goal-item-btn {
                opacity: 1;
            }

            .remove-goal-item-btn {
                position: absolute;
                top: -0.5rem;
                right: -0.5rem;
                opacity: 0;
                padding: 0.3rem;
                font-size: 1.2rem;
                transition-property: 
                    transform,
                    opacity;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
        
        .form-control__add-goal {
            position: relative;
            color: var(--nav-text-color);
            
            label {
                position: absolute;
                top: 0.5rem;
                left: 1rem;
                background-color: var(--nav-bg-color);
                transition: transform 0.2s ease-in-out;
            }
            
            input {
                border:1px solid var(--nav-text-color);
            }
            
            input:focus + label {
                transform: 
                    translate(-1.7rem, -1.2rem) scale(0.9);
            }

            input:not(:focus):placeholder-shown + label {
                transform: none;
            }

            button  {
                border:1px solid var(--nav-text-color);
                background-color: var(--btn-bg-color);
                color: var(--btn-text-color);

                &:hover {
                    /* background-color: var(--); */
                }
            }
        }
    }

    .dashboard__week-goals {

        .form-control__goal-list input:checked + label {
            text-decoration: line-through;
        }
    }
}