@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+US+Modern:wght@100..400&display=swap');

:root {
    --text-color: #ced0bb;
    --input-bg-color: #929780;
    --btn-bg-color: #929780;
    --btn-text-color: #ced0bb;
}

body, html { 
    overflow-x: hidden; 
    overflow-y: hidden;
    height: 100vh;
}


.text {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}

.inputbg {
    background-color: var(--input-bg-color);
}

.loginBtn {
    text-decoration: underline;
}

.loginPage {
    display: flex;
    justify-content: center;
    background-color: #929780;
    height: 100vh;
}

.loginRegister {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3b4930;
    width: 60%;
    height: 75vh;
}

.containerimage {
    width: 100%;
    background-color: #afb49d;
    border-radius: 0px 50px 50px 0px;
}

.queote {
    font-family: "Playwrite US Modern", serif;
    font-weight: 550;
    font-style: normal;
    margin-top: 100px;
    font-size: 25px;
    color: #3b4930;
    text-align: center;
}

.layoutImage {
    display: flex;
    flex-direction: column;
}

.layoutImage > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

[alt="logo"] {
    object-fit: cover
}

[alt="WomanWatering"] {
    margin-top: 40px;
    width: 80%;
    height: 80%;
}